* {
  box-sizing: border-box;
}

html,
body {
  user-select: none;
  padding: 0;
  margin: 0;
  background: rgb(82, 82, 82);
  background: gradient(circle,
      rgb(0, 0, 0) 0%,
      rgb(255, 255, 255) 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  font-family: "Roboto", sans-serif;
}

main {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 0.7rem;
}

.character-card {
  height: 15rem;
  margin: 1em;
  width: 94vw;
  max-width: 230px;
  padding: 1vh 1vw;
  font-size: 1.6rem;
  color: white;
  border-radius: 14px;
  position: relative;
  background: #231d24;
  text-align: center;
  border: 0.1rem solid #0037ff;
}

.name {
  margin: 1vh 0;
  width: 100%;
  letter-spacing: 0.08em;
  font-size: 90%;
}

.avatar {
  width: 15vh;
  border: 2px solid #000721;
  max-width: 100%;
  opacity: 0.8;
  border-radius: 30px;
  background-color: rgba(0, 7, 33, 0.8);
  margin: auto;
}

.health {
  font-size: 1.1rem;
  font-weight: normal;
  width: 90%;
  text-align: left;
  margin: 1vh 5%;
  color: #ccc;
  letter-spacing: 0.03em;
}

.health b {
  font-weight: bold;
  color: #fff;
}

.health-bar-outer {
  background: #171217;
  height: 1vh;
  width: 90%;
  margin: 5px 5%;
  border-radius: 20px;
}

.health-bar-outer .health-bar-inner {
  background: #466d34;
  height: 100%;
  border-radius: 2px;
  margin: 3px;
}

.health-bar-outer .health-bar-inner.danger {
  background: #d1435f;
}

.dice-container {
  margin: 0.2em;
  position: absolute;
  bottom: 0;
  left: 0px;
  right: 0;
  background: #000721;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
  border-radius: 20%;
  border-bottom-left-radius: 14px;
  border-bottom-right-radius: 14px;
}

.dice,
.placeholder-dice {
  max-height: 5em;
  background: #fff;
  border-radius: 20px;
  border: 1px solid #353535;
  color: #000721;
  text-align: center;
  line-height: 6vh;
  font-size: 25px;
  font-weight: bold;
}

.dice-container .placeholder-dice {
  background-color: transparent;
}

button {
  margin: 1em;
  font-family: "MedievalSharp", cursive;
  background-color: #f8d06c;
  outline: none;
  padding-left: 5vw;
  padding-right: 5vw;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 2.5rem;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
  color: #ff0000;
  height: 9vh;
  box-shadow: 0px 6px 10px -4px rgba(0, 0, 0, 0.4);
}

button:active {
  color: #240c00;
  background-color: #ffe5a4;
  outline: none;
  box-shadow: none;
}

button:focus {
  outline: 0;
}

.end-game {
  margin-top: 25%;
  text-align: center;
}

.end-emoji {
  font-size: 80px;
}

@media (min-width: 550px) {
  main {
    flex-direction: column;
    justify-content: center;
    width: 100%;
    gap: 4em;
  }
}

@media (min-width: 550px) {
  .avatar {
    width: 20vh;
  }
}

@media (min-width: 550px) {
  .health {
    margin: 1vh 5%;
  }
}

@media (min-width: 550px) {

  .dice-container .dice,
  .dice-container .placeholder-dice {
    height: 10vh;
    width: 10vh;
    line-height: 10.5vh;
  }
}

@media (min-width: 550px) {
  button {
    margin-top: 0;
  }
}

@media (min-width: 550px) {
  .character-card {
    border: 0.2rem solid rgba(211, 211, 211, 0.845);
    height: 26rem;
    width: 37vw;
  }
}

@media (min-width: 550px) {
  .name {
    margin: 2vh 0;
    font-size: 100%;
  }
}

@media (min-width: 550px) {
  .avatar {
    width: 20vh;
  }
}

@media (min-width: 550px) {
  .health {
    margin: 1vh 5%;
  }
}

@media (min-width: 550px) {
  .dice-container {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
  }
}