html,
body {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  box-sizing: border-box;
  background: rgb(51, 43, 55);
  background: radial-gradient(circle,
      rgba(51, 43, 55, 1) 0%,
      rgba(51, 43, 55, 1) 100%);
  color: #fff;
  font-family: "Roboto", sans-serif;
}

main {
  display: flex;
  width: 100%;
  margin: 0 auto;
  gap: 2em;
}

.character-card {
  padding: 1em;
  display: flex;
  flex-direction: column;
  gap: 1em;
  font-size: 1.6rem;
  color: white;
  border-radius: 14px;
  background: #231d24;
  border: 0.08rem solid #000721;
  box-shadow: inset 0px 0px 6px 2px rgba(100, 100, 100, 0.2),
    0px 0px 10px rgba(117, 182, 214, 0.2);
}

.name {
  text-align: center;
}

.avatar {
  max-width: 10em;
  align-self: center;
  border: 2px solid #000721;
  border-radius: 10px;
  background-color: rgba(0, 7, 33, 0.8);
}

.health {
  font-size: 2rem;
  font-weight: normal;
  width: 90%;
  text-align: left;
  margin: 0.3vh 5%;
  color: #ccc;
  letter-spacing: 0.03em;
}

.health b {
  font-weight: bold;
  color: #fff;
}

.health-bar-outer {
  background: #171217;
  height: 1vh;
  width: 90%;
  margin: 5px 5%;
}

.health-bar-outer .health-bar-inner {
  background: #466d34;
  height: 100%;
  border-radius: 2px;
  margin: 3px;
}

.health-bar-outer .health-bar-inner.danger {
  background: #d1435f;
}

.dice-container {
  margin: 2em auto;
  display: flex;
  gap: 1em;
  margin: auto;
  background: #000721;
  border-bottom-left-radius: 14px;
  border-bottom-right-radius: 14px;
}

.dice,
.placeholder-dice {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 3em;
  max-height: 3em;
  background: #fff;
  border-radius: 5px;
  border: 1px solid #666;
  color: #000721;
  text-align: center;
  font-size: 1em;
  font-weight: bold;
}

.dice-container .placeholder-dice {
  background-color: transparent;
}

button {
  cursor: pointer;
  margin-left: 10.5em;
  padding: 0.7em 2em;
  border: none;
  background-color: #eaeaea;
  border-radius: 5px;
  font-size: 1.6rem;
  font-weight: bold;
}

button:hover {
  color: #240c00;
  background-color: #ffe5a4;
  border: none;
}

button:active {
  color: #240c00;
  background-color: #ffb2a4;
  border: none;
}

button:focus {
  outline: 0;
}

.end-game {
  margin-top: 25%;
  text-align: center;
}

.end-emoji {
  font-size: 80px;
}

@media (min-width: 400px) {
  .character-card {
    border: 0.2rem solid #000721;
    min-height: 28rem;
    width: 80%;
    min-width: 300px;
  }

  .name {
    margin: 2vh 0;
    font-size: 100%;
  }

  .avatar {
    width: 25vh;
  }

  .health {
    margin: 2vh 5%;
  }

  .dice-container {
    height: 30%;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
  }

  .dice-container .dice,
  .dice-container .placeholder-dice {
    margin: auto;
    height: 10vh;
    width: 10vh;
    line-height: 10.5vh;
  }

  button {
    margin-top: 1em;
  }
}